--extra-index-url https://download.pytorch.org/whl/cu130

# pytorch
torch==2.13.0
torchvision==0.28.0
torchaudio==2.11.0
numpy
pandas==2.3.3
matplotlib==3.11.1
scikit-learn==1.9.0

# AgentRAG
openai
langchain
langchain-core
langchain-openai
langgraph
langgraph-checkpoint-sqlite
python-dotenv
