# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
build/
dist/

# Environments
.venv/
venv/
env/
.env

# IDE
.idea/
.vscode/

# Test / Cache
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/

# Logs / DB
*.log
*.sqlite3

# OS
.DS_Store
Thumbs.db
